<% if @application.status == 'In Progress' %>
  <%= render "shared/app_details" %>

  <h4>Pets applying for:</h4>
  <% @pets.each do |pet| %>
    <p class="applying-for"><%= link_to pet.name, "/pets/#{pet.id}" %></p>
  <% end %>


  <h3>Add a Pet to this Application</h3>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>

  <% if params[:search] && @found_pets.empty? %>
  <p>No pets matched this search</p>
  <% elsif params[:search] %>
    <% @found_pets.each do |found_pet|%>
      <div id="pet-<%= found_pet.id %>">
        <%= link_to found_pet.name, "/pets/#{found_pet.id}" %>
        <%= form_with url: "/pet_applications", local: true, method: :post do |form| %>
          <%= form.hidden_field :pet_id, value: found_pet.id %>
          <%= form.hidden_field :application_id, value: @application.id %>
          <%= form.submit "Adopt this Pet" %>
        <% end %>
      </div>  
    <% end %>
  <% end %>
<% end %>

<div id="submit-app">
<% if @pets.any? && @application.status == "In Progress" %>
  <%= form_with url: "/applications/#{@application.id}", method: :patch, local: true do |form| %> 
    <%= form.label :description, "Why would you make a good home for these pets?" %></br>
    <%= form.text_area :description %></br>

    <%= form.hidden_field :status, value: "Pending" %>
    <%= form.submit "Submit Application" %>
  <% end %>
<% end %>
</div>

<% if @application.status == "Pending" %>
  <h1>Name: <%= @application.name %></h1>
  <p>Address: <%= @application.street_address %> <%= @application.city %>, <%= @application.state %> <%= @application.zip_code %></p>
  <p>Status: <%= @application.status %></p>
  <h4>Pets applying for:</h4>
  <% @pets.each do |pet| %>
    <p class="applying-for"><%= link_to pet.name, "/pets/#{pet.id}" %></p>
  <% end %>
  <p>Description: <%= @application.description %></p>
<% end %>