<%= render "shared/app_details" %>
<p>Description: <%= @application.description %></p>

<h4>Pets applying for:</h4>
<% @application.pets.each do |pet| %>
  <% pet_app = @application.find_pet_app(pet.id) %>
  <% if pet_app.pet_status == "Pending Adoption" %>
    <div id="applying-for-<%= pet.id %>">
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <%= render partial: 'form', locals: { 
                                            path: "/pet_applications/#{pet_app.id}",
                                            method: :patch,
                                            value: "Approved",
                                            button_text: "Approve Application for #{pet.name}"
      } %>

      <%= render partial: 'form', locals: { 
                                            path: "/pet_applications/#{pet_app.id}",
                                            method: :patch,
                                            value: "Rejected",
                                            button_text: "Reject Application for #{pet.name}"
      } %>
    </div>
  <% elsif pet_app.pet_status == "Approved" || pet_app.pet_status == "Rejected" %>
    <div id="decision-for-<%= pet.id %>">
      <%= link_to pet.name, "/pets/#{pet.id}" %>
      <p><%= pet_app.pet_status %> for Adoption</p>
    </div>
  <% end %>
<% end %>
